
@font-face {
    font-family: fiveyear;
    src: url("assets/fonts/5yearsoldfont.ttf");
}

@font-face {
    font-family: fifth;
    src: url("assets/fonts/Fifth-Grader.ttf");
}

@font-face {
    font-family: fillme;
    src: url("assets/fonts/Fill\ Me\ With\ Color\ -\ TTF.ttf");
}

@font-face {
    font-family: liketo;
    src: url("assets/fonts/KGILikeToMoveIt.ttf");
}

@font-face {
    font-family: chalk;
    src: url("assets/fonts/PWChalk.ttf");
}

body{
    margin: 0;
    background-color: rgb(10, 68, 68);
    width: 100vw;
    height: 100vh;
}

#titlepage{
    font-family: chalk;
    font-size: 60px;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    background-image: url(assets/images/lousaclasse.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#start{
  border: none;
  background-color: #00000000;
  font-family: liketo;
  font-size: 0.6em;
  color: white;
  cursor: pointer;
}

#formusername{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#username{
  height: 60px;
  width: 200px;
  font-size: 50px;
}

#gamepage{
    width: 100%;
    height: calc(100% - 40px);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family: fifth;
    font-size: 30px;
}

#gamehead{
    display: flex;
    color: aqua;
    justify-content: space-between;
    flex-direction: row;
}

#headwelcome{
  margin-left: 30px;
}

#headlevel{
  margin-right: 30px;
  color: aqua;
}

#gameimage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

#imgword{
    height: 200px;
    width: 200px;
    background-color: #00000000;
		-webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
		-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
		box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

#content {
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
}

#cardSlots {
  background: #ddf;
  width: calc(100% - 60px);
  margin: 50px 30px 0 30px;
}

#cardPile {
  width: calc(100% - 60px);
  margin: 0 30px 0 30px;
  background: #ffd;
}

#cardSlots, #cardPile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: calc(100% - 100px);
  height: 120px;
  padding: 20px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}
  
#cardSlots > div, #cardPile > div {
  float: left;
  width: calc((100% - 100px) / 10);
  height: 78px;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 0;
  margin: 0 5px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
}

#cardSlots div:first-child, #cardPile div:first-child {
  margin-left: 0;
}

#cardSlots div.hovered {
  background: #aaa;
}

#cardSlots div {
  border-style: dashed;
}

#cardPile div {
  background: #666;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 3px #000;
}

#cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

#card1.correct { background: red; }
#card2.correct { background: brown; }
#card3.correct { background: orange; }
#card4.correct { background: yellow; }
#card5.correct { background: green; }
#card6.correct { background: cyan; }
#card7.correct { background: blue; }
#card8.correct { background: indigo; }
#card9.correct { background: purple; }
#card10.correct { background: violet; }
  
#gamefoot{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

#restart{
    margin-right: 30px;
    border: none;
    background-color: #00000000;
    font-family: liketo;
    font-size: 0.6em;
    color: white;
}

.btn{
  border: none;
  background-color: #00000000;
  font-family: liketo;
  font-size: 0.6em;
  color: white;
}

#successMessage {
  position: absolute;
  margin: auto;
  width: 0;
  height: 0;
  z-index: 100;
  background: black;
  color: white;
  font-family: fiveyear;
  border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 20px;
}

#levelupMessage {
  position: absolute;
  margin: auto;
  width: 0;
  height: 0;
  z-index: 100;
  background: rgb(6, 6, 163);
  color: white;
  font-family: fiveyear;
  border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 20px;
}

#endgameMessage {
  position: absolute;
  margin: auto;
  width: 0;
  height: 0;
  z-index: 100;
  background: rgb(5, 95, 5);
  color: white;
  font-family: fiveyear;
  border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 20px;
}

#qualquer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
